<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>
<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
<br />
<p>Email: @ViewBag.CompanyInfo.email</p>
<p>Phone Number: @ViewBag.CompanyInfo.phoneNumber</p>
<p>@ViewBag.CompanyName can be found at these locations:</p>
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;">@location</p>
    <br />
}

<div style="border:double thick black" class="row">
    <div class="col-md-6">
       Real Feel Temperature: @ViewBag.realFeel;
       Temperature: @ViewBag.temp;
       Weather: @ViewBag.weatherText
    </div>
</div>

<div style="height:100px">
    <h4>Start a conversation with @ViewBag.CompanyName</h4>
    <div style="width:350px; float:left">
        <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="2" cols="25"></textarea>
    </div>
    <div style="float:left">
        <button class="sendbutton" id="SendMessageButton">Send</button>
    </div>
</div>
<br />
@using (Html.BeginForm("SaveReview", "CompanyListings", FormMethod.Post))
{
<div style="height:150px">
    <h4>Write a Review for @ViewBag.CompanyName</h4>
    <div style="width:100px; float:left, ">
        <textarea class="messagetextarea" name="textUserReview" placeholder="Enter your review here." rows="3" cols="35"></textarea>
    </div>
    <div style="width:30px; float:left">
        <p>Rating: </p>
    </div>
    <div style="width:300px;float:left; margin-left:20px">
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div style="float:left">
        <button class="savebutton" id="SaveReviewButton">Save</button>
    </div>
    <input type="hidden" name="companyName" value=@ViewBag.CompanyName />
</div>
}
<br /><br />


<h4>@ViewBag.CompanyName's Reviews</h4>
@if (ViewBag.CheckReviews)
{
    int i = 0;
    foreach (var review in ViewBag.CompanyInfo.reviewList.reviews)
    {
        <p>Username: @review.userName | Timestamp: @ViewBag.Timestamp[i] | Stars: @review.stars/5</p>
        <p style="padding-left:4em;">Review: @review.review</p>
        <br />
        i = i + 1;
    }
}
else
{
    <p>
        @ViewBag.CompanyInfo.reviewList.response
    </p>
    <br />
}


