<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Create Account";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Register", "Authentication", FormMethod.Get,
    new { id = "registerForm", onsubmit = "return registerUser()" }))
{
    @ViewBag.message
    <br />
    <br />
    <p>Enter a username: </p><br />
    @Html.TextBox("proposedUsername")
    <br />
    <br />
    <p>Enter a password: </p><br />
    @Html.TextBox("proposedPassword")
    <br />
    <br />
    <p>Enter your address: </p><br />
    @Html.TextBox("proposedAddress")
    <br />
    <br />
    <p>Enter your phone number: </p><br />
    @Html.TextBox("proposedPhoneNumber")
    <br />
    <br />
    <p>Enter your email: </p><br />
    @Html.TextBox("proposedEmail")
    <br />
    <br />
    <b>Select User Type: </b><br />
    <span>User: </span> @Html.RadioButton("proposedType","user",true)
    <span> | Business: </span> @Html.RadioButton("proposedType", "business",false)
    <span> | Not Specified: </span> @Html.RadioButton("proposedType", "notspecified", false)
    <br />
    <hr />
    <br />
    <br />
    <input type="submit" name="submitButton" value="Submit" onclick="registerUser()" />
    <br />
    <br />
 
}

